.option-selected {
   background-color: #eeeeee !important;
   color: black !important;
   border-left: none !important;
   border-right: none !important;
}

#nav-left {
   top: 84px;
}

@media only screen and (min-width: 992px) {
   #nav-left {
      display: flex !important;
      max-width: calc(100% * 0.25);
      max-width: -webkit-calc(100% * 0.25);
      max-width: -moz-calc(100% * 0.25);
      height: 100%;
      position: fixed;
      z-index: 1030;
   }

   main > section.col-lg-9 {
      margin-left: auto;
   }
}

main article.table-responsive,
#box-modify-customer div.modal-content {
   box-shadow: 0 0 7px 1px #3e9fce;
}

#box-modify-customer .input-no-radius-tl-bl {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

main input.error-input,
main input.error-input:focus {
   outline: none;
   box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
   border: 1px solid red;
}

main input.success-input,
main input.success-input:focus {
   outline: none;
   box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.4);
   border: 1px solid green;
}

main button[type=button].disabled {
   cursor: not-allowed;
}

.img-settings {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.box-input {
   width: 100%;
   border-radius: 7px;
   padding: 15px 7px;
   margin-bottom: 15px;
   box-shadow: 0 0 5px 1px #3e9fce;
}

@media only screen and (min-width: 768px) {
   .box-input {
      padding: 15px;
   }
}

.scale-when-hover {
   transition: transform 0.5s;
}

.scale-when-hover:hover {
   transform: scale(1.1, 1.1);
}
.box-state {
   width: 15px;
   height: 15px;
   margin-right: 7px;
}