<footer class="d-flex flex-wrap justify-content-around bg-dark">
    <div class="logo">
      <p class="text-white text-center font-weight-bold">
      <img src="../img/img-home/logo.png" height="90px"> 
      SallEvent</p>
    </div>
    <div class="">
      <ul class="text-white text-center list-unstyled">
        <li class="list-unstyled font-weight-light">Direccion:</li>
        <li class="list-unstyled font-weight-light">Calle diodoro, Carrasco, Col. Centro.</li>
        <li class="list-unstyled font-weight-light">Puerto escondido</li>
      </ul>
    </div>
    <div class="">
      <ul class="text-white text-center list-unstyled">
        <li class="list-unstyled font-weight-light">Contactenos:</li>
        <li class="list-unstyled font-weight-light">SallEvent.@online.mx</li>
        <li class="list-unstyled font-weight-light">Tel: 954 159 3476</li>
      </ul>
    </div>
  </footer>