<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container logo">
        <a class="navbar-brand" href="/home/">
        <img src="../img/home/logo.png" class="fas fa-link" height="50px"> SallEvent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services/">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contacto</a>
        </li>
      </ul>

        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"
            href="/#">Acceder</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Usuario:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Contraseña:</label>
            <input type="password" class="form-control" id="message-text">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>