<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container logo">
        <a class="navbar-brand" href="/home/">
        <img src="../img/home/logo.png" class="fas fa-link" height="50px"> SallEvent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services/">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contacto</a>
        </li>
      </ul>

        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/register/">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/">Acceder</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
